<!-- found.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found Items</title>
    <link rel="stylesheet" href="searchResults.css">
</head>
<body>
    <header>
        <div class="logo">ReClaim</div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <a href="/dashboard">Home</a>
                </li>
                <li>
                    <a href="lost">Lost</a>
                </li>
                <li>
                    <a href="found" class="active">Found</a>
                </li>
                <li>
                    <a href="profile">Profile</a>
                </li>
                <li>
                    <a href="login">Logout</a>
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <div class="search-container">
        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    



    <div class="grid-container">
        <% foundItems.forEach(item => { %>
            <a href="/found/<%= item._id %>" class="item-link">

            <div class="item-box">
                <div class="image-container">
                    <img class="item-image" src="data:image/jpeg;base64,<%= item.photo.toString('base64') %>" alt="Found Item Photo">
                </div>
                <div class="details-container">
                    <p><strong>Name:</strong> <%= item.itemName %></p>
                    <p><strong>Place Found:</strong> <%= item.place %></p>
                    <p><strong>User:</strong> <%= item.user_id %></p>
                    <p><strong>Date Found:</strong> <%= item.date.toDateString() %></p>
                    
                </div>
            </div>
            </a>
        <% }); %>
    </div>
    <div class="pagination">
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/found?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>
    </div>
    <script>
        document.getElementById('searchInput').addEventListener('keydown', async function(event) {
            // Check if the pressed key is Enter (key code 13)
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default behavior of the Enter key
                const searchQuery = this.value; // Get the search query
                // Redirect to the search page with the search query
                window.location.href = `/searchFound?query=${encodeURIComponent(searchQuery)}`;
            }
        });
    
        document.getElementById('searchForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission behavior
            const searchQuery = document.getElementById('searchInput').value; // Get the search query
            // Redirect to the search page with the search query
            window.location.href = `/searchFound?query=${encodeURIComponent(searchQuery)}`;
        });
    </script>
    
</body>
</html>
